<div class="nav-container container px-2 clearfix mx-auto header-text header-background bold" id="nav-container-id">
  <div class="left py-1">
    <a class="align-middle" href="{{ site.baseurl }}/">
      {{ site.title }}
    </a>
  </div>
  <a class="nav-burger" id="open-nav" href="#">&#9776;</a>
  <ul class="right nav py-1">
    {% for my_page in site.pages %}
      {% if my_page.title %}
      <li class="nav-link">
        <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
