<!-- Renders post date, title, and snippet of text. -->
<div class="py-2 mb-2 prose">
  <h2 class="h1 lh-condensed col-9 mt-0">
    <a class="link-primary" title="{{ include.post.url | prepend: site.baseurl }}" href="{{ include.post.url | prepend: site.baseurl }}">{{ include.post.title }}</a>
  </h2>
  {% for tag in include.post.tags %}
    {% assign post_tag_downcase = tag | downcase %}
    {% for site_tag in site.blog_tags %}
      {% assign site_tag_title = site_tag.title | downcase %}
      {% if site_tag_title == post_tag_downcase %}

        <span class="blog-filter">
        <a href="{{ site.baseurl }}/blog/tags/{{ tag | slugify }}/" class="{% if site_tag.color %} bg--{{site_tag.color}}{% endif %}">{{ tag | capitalize }}</a>
        </span>

      {% endif %}
    {% endfor %}
  {% endfor %}
  <span class="no-underline h5 bold text-accent" title="{{ include.post.url | prepend: site.baseurl }}" href="{{ include.post.url | prepend: site.baseurl }}">{{ include.post.date | date: "%b %-d, %Y" }}</span>

  <!-- <p>{{ include.post.content | strip_html | truncatewords:30 }}</p> -->
  <p>{{ include.post.excerpt }}</p>
  <p><a href="{{ site.baseurl }}{{ include.post.url }}">Read More &rarr;</a></p>
</div>
