<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    
    {% include header.html %}

    <div>

      <div class="container mx-auto">
        {% for post in site.posts %}
          {% include post_block.html post=post %}
        {% endfor %}
      </div>

    </div>

    {% include footer.html %}

  </body>
  <script>
      var container = document.getElementById("nav-container-id");
			document.getElementById("open-nav").onclick = function () {
				container.classList.toggle("nav-open");
				return false;
			};
  </script>
</html>
