<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div>

      <header class="header-background">
        {% include navigation.html %}

        <div class="container mx-auto px-2 py-2 mb-2 clearfix header-text">
          <h1 class="h0 col-9 sm-width-full mt-3 mb-0 inline-block header-title" style="padding-top: 64px">{{ site.title }}</h1>

          <div class="clearfix mb-4 py-1">
            <div class="col-9 sm-width-full left">
              <!-- Set site description in config.yml -->
              <p class="h4 lh-condensed font-smoothing py-1">{{ site.description }}</p>
            </div>
          </div>

        </div>
      </header>

      <div class="container mx-auto px-2 py-2">
        {% for post in site.posts %}
          {% include post_block.html post=post %}
        {% endfor %}
      </div>

    </div>

    {% include footer.html %}

  </body>
  <script>
      var container = document.getElementById("nav-container-id");
			document.getElementById("open-nav").onclick = function () {
				container.classList.toggle("nav-open");
				return false;
			};
  </script>
</html>
