---
layout: default
---
{% assign tag = page.title | downcase %}
{% assign tag_posts = site.tags[tag] %}

<div class="bg--{{page.color}}">
  <div class="container mx-auto px-2 py-4">
    <h1 class="h0 col-9 sm-width-full mb-0 inline-block" itemprop="name headline">{{ page.header }}</h1>
    <p class="h4 lh-condensed font-smoothing py-1">{{ page.description }}</p>
  </div>
</div>

<div class="container mx-auto">
  {% for post in tag_posts %}
    {% include post_block.html post=post %}
  {% endfor %}
</div>
